<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.NovoAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.AtualizarAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.ExcluirAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ExcluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ObterProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosEmEstoqueServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ListarProdutosEmEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.AtualizarVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ExcluirVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.NovaVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ListarVendasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasClienteServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ListarVendasClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.produto_categoria.controle.AtualizarProdutoCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.produto_categoria.controle.ExcluirProdutoCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <servlet-class>smdecommerce.produto_categoria.controle.ListarCategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosEmEstoqueCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.produto_categoria.controle.ListarProdutosEmEstoqueCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosdaCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.produto_categoria.controle.ListarProdutosdaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosdaVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda_produto.controle.ListarProdutosdaVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasdoProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.venda_produto.controle.ListarVendasdoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutodaVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda_produto.controle.ExcluirProdutodaVendaServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ObterVendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoAdmServlet</servlet-name>
        <url-pattern>/NovoAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAdmServlet</servlet-name>
        <url-pattern>/AtualizarAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAdmServlet</servlet-name>
        <url-pattern>/ExcluirAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/ListarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosEmEstoqueServlet</servlet-name>
        <url-pattern>/ListarProdutosEmEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaVendaServlet</servlet-name>
        <url-pattern>/NovaVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasServlet</servlet-name>
        <url-pattern>/ListarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasClienteServlet</servlet-name>
        <url-pattern>/ListarVendasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <url-pattern>/ExcluirVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarVendaServlet</servlet-name>
        <url-pattern>/AtualizarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <url-pattern>/ObterProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarProdutoCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirProdutoCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <url-pattern>/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosEmEstoqueCategoriaServlet</servlet-name>
        <url-pattern>/ListarProdutosEmEstoqueCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosdaCategoriaServlet</servlet-name>
        <url-pattern>/ListarProdutosdaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosdaVendaServlet</servlet-name>
        <url-pattern>/ListarProdutosdaVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasdoProdutoServlet</servlet-name>
        <url-pattern>/ListarVendasdoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutodaVendaServlet</servlet-name>
        <url-pattern>/ExcluirProdutodaVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterVendaServlet</servlet-name>
        <url-pattern>/ObterVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
