<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.NovoAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.AtualizarAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAdmServlet</servlet-name>
        <servlet-class>smdecommerce.administrador.controle.ExcluirAdmServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>smdecommerce.cliente.controle.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ExcluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoAdmServlet</servlet-name>
        <url-pattern>/NovoAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAdmServlet</servlet-name>
        <url-pattern>/AtualizarAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAdmServlet</servlet-name>
        <url-pattern>/ExcluirAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
